h1 {
  margin-left: 550px;
}

.header {
  text-align:right;
}

select {
  position: relative;
  margin: 0px auto;
}

table {
  border: 1px solid black;
  background-color: #fff;
  color: #000;
  position: relative;
  margin: 0px auto;
  display: none;
  table-layout: fixed;
  width:fit-content;
}

tr:first-child {
  background-color:LightBlue;
}

td{
  padding: 10px;
}

.centerContainer {
  width: 70%;
  position: relative;
  margin: auto;
}
